*.pdf
*.log
*~
*.ac
*.d
*.dSYM
*.so
*.o
*.dylib
*.root
*.C~
*.h~
*.txt
*.png
*.jpg
*.gif
*.jpeg
*.eps
*.ps
*.svg
*.xml
*.json
*.yaml
*.yml
*.md
*.rst
configure
*.0
*.1
requests
Makefile
*.status
mipFitsSiPM
tupleReadTest
